body {
  width: 1000px;
  margin: 0 auto;
}

h1 {
    text-align: center;
}

#div_main {
    width: 650px;
    margin: 0 20px 0 100px;
    float: left;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f5f5f5;
    display: block;
    margin: 10px auto;
}


#xymatrix {
	border: 1px solid #d3d3d3;
    padding: 5px;
	width: 590px;
	height: 290px;
	margin: 30px auto;
    overflow: auto;
}

#div_buttons {
    width: 200px;
    float: left;
}

#div_buttons_top {
    height: 300px;
    margin: 11px auto;
}

#div_buttons_bottom {
    height: 300px;
    margin: 31px auto;
}

.diagrambutton{
	margin-bottom: 10px;
}